body {
    color: #2d2d2d;
    /*background-image:url("meg.jpg");*/
    background-color: #2d2d2d;
}
.innhold {
    background-color: #d4b8b8;
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
}


h1 {
    color: black;
    text-align: center;
    margin-bottom: 10px;
    
}
h3 {
    text-align: center;
}

#hei {
    text-align: center;
    align-content: center;
}
#epicHeader {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    margin-top: -40px;



}
#littOmMeg {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.littOmMeg {
    display: inline-block;
    border: 2px solid #444;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #2f855a;
    
    
    
}
div.galary_hole{
    width: 100%;
}
div.gallary{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 23%;
}
div.gallary img{
    width: 100%;
    height: auto;
}


#Sponsorer{
    text-align: center;
}
